@font-face {
  font-family: 'Konnect';
  src: url('/fonts/Konnect-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Konnect';
  src: url('/fonts/Konnect-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Konnect';
  src: url('/fonts/Konnect-Bold.otf') format('opentype');
  font-weight: 600;
}

body {
  font-family: 'Konnect' !important;
  margin:0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.zerome {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
html {
  background: linear-gradient(180deg, #012f24 0%, #025748 100%);
  overflow: hidden;
}
.btn {
  background: #d3f763;
  box-shadow: 0px 33px 71px rgba(2, 39, 32, 0.25);
  border-radius: 8px;
  width: 220px;
  text-align: center;
  cursor: pointer;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 18px;
  margin: 1rem 1rem;
}
.center-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-bar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 4rem;
}
.top-bar-logo {
  justify-self: flex-start;
  align-self: center;
}

.top-bar-button {
  justify-self: flex-end;
  align-self: center;
}
.top-bar-logo-image {
  height: 3rem;
}

.head-line-section {
  max-width: 900px;
  text-align: center;
  font-weight: 500;
  color: white;
}
.mt-4 {
  margin-top: 4rem;
}
.btn-outline {
  border: 1px solid #d2f664;
  box-sizing: border-box;
  filter: drop-shadow(0px 33px 71px rgba(0, 48, 38, 0.25));
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 400px;
  width: 220px;
  font-weight: 500;
  padding: 1rem 1.2rem;
  margin: 1rem 1rem;
}

.social-section {
  display: flex;
  flex-direction: row;
}
.footer {
  color: white;
}
.footer-section-3 {
  /* font-family: Konnect; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  margin: 1rem 0rem;
}
.footer-section-2 {
  /* font-family: Konnect; */
  display: flex;
  gap: 3rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-top: 2rem;
  /* identical to box height, or 24px */

  letter-spacing: 0.24em;
}
.footer-section-1 {

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 0.24em;
  color: #ffffff;
}
.footer-section-2 div {
  cursor: pointer;
}
.round-art-border {
  border: 4px solid #024538;
  box-sizing: border-box;
}
.gradient-blur {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  opacity: 0.05;
}
.clip-art {
  position: absolute;
}
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}
.rotating {
  animation: rotating 5s infinite;
}
@keyframes rotating {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg) }    
}
.round-art-gradient {
  background: linear-gradient(
    180deg,
    #002e24 0%,
    rgba(5, 112, 88,1) 35.92%
  );
}
.round-art {
  bottom: calc(-100vw + 160px);
}

@media only screen and (max-width: 712px) {
  .social-section {
    gap: 0.5rem;
  }
  .btn {
    background: #d3f763;
    box-shadow: 0px 33px 71px rgba(2, 39, 32, 0.25);
    border-radius: 8px;
    width: 140px;
    text-align: center;
    cursor: pointer;
    padding: 0.5rem 0.6rem;
    font-weight: 500;
    font-size: 12px;
    margin: 0.2rem 0.2rem;
  }
  .btn-outline {
    border: 1px solid #d2f664;
    box-sizing: border-box;
    filter: drop-shadow(0px 33px 71px rgba(0, 48, 38, 0.25));
    font-size: 12px;
    color: white;
    font-weight: 400px;
    width: 140px;
    font-weight: 500;
    padding: 0.5rem 0.6rem;
    margin: 0.2rem 0.2rem;
  }
  .round-art {
    bottom: calc(-100vw + 120px);
  }
  .footer-section-3 {
    /* font-family: Konnect; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    margin: 0.5rem 0rem;
  }
  .footer-section-1 {  
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;

    letter-spacing: 0.24em;
    color: #ffffff;
  }
  .head-line-section {
    max-width: 90%;
  }
  .top-bar-grid {
    margin: 3rem 2rem;
  }
}